<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
<div class="task-one">
    <div>Sokolov</div>
    <div>Konstantin</div>
    <div class="picture">
        <img
                src="https://avatars.mds.yandex.net/i?id=dd281c8fb562d5358a21df5c5604ce9ed4c9d147-5235401-images-thumbs&n=13"
                alt=""
        />
    </div>



</div>


</body>

</html>